.footer {
  display: flex;
  min-height: 13.542vw;
  margin-top: auto;
  padding: 0 28.021vw 3.646vw 34.01vw;
  background-color: #27AE60;
}

.footer__nav-link {
  font-size: 14px;
  color: #ffffff;
}

.footer__conditions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.458vw;
  margin-left: 0.052vw;
}

.footer__conditions-link {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}