.promo {
  color: #2B2B2B;
}

.promo__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.promo__desc {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}