.reason {
  color: #ffffff;
  background-color: #27AE60;
}

.reason__wrapper {
  display: flex;
  padding: 13.125vw 10.365vw 0 10.365vw;
}

.reason__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.reason__doctor-name {
  font-size: 14px;
  color: #6C997F;
  text-align: center;

  b {
    display: block;
    font-weight: bold;
    color: #000000
  }
}

.reason__list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 2.917vw;
  margin-bottom: 1.563vw;
}

.reason__item {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 20px;
}